### FILES ###
#############
jupyter_notebooks/SciArt Graphs.ipynb
slurm*
benchmarks/ontology_keyword_matching/check_*

### DIRECTORIES ###
###################
data_retrieval/oa_subset/text_ids/
data/
job_scripts/
jupyter_notebooks/.ipynb_checkpoints
__pycache__/


## Harry \_(**}_/ ##
planteome_dir/
planteome_keywords/
my_abstracts/
abstract_data/
pubmed-jasmonicac-set.txt
5000_chosen_abstracts.csv
doc2vec_model
doc2vec_vectors.csv
