### FILES ###
#############
jupyter_notebooks/SciArt Graphs.ipynb

### DIRECTORIES ###
###################
data_retrieval/oa_subset/text_ids/
data/
job_scripts/
jupyter_notebooks/.ipynb_checkpoints
__pycache__/
