aiohttp @ file:///tmp/build/80754af9/aiohttp_1614360989480/work
alembic==1.7.0
allennlp==1.1.0
allennlp-models==1.1.0
async-timeout==3.0.1
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
autopage==0.4.0
beautifulsoup4==4.8.1
blis==0.7.4
boto==2.49.0
boto3==1.18.31
botocore==1.21.31
bratiaa==0.1.4
brotlipy==0.7.0
cached-property==1.5.2
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
catalogue==2.0.6
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1625814693446/work
chardet @ file:///tmp/build/80754af9/chardet_1605303159953/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==7.1.2
cliff==3.9.0
cmaes==0.8.2
cmd2==2.1.2
colorama==0.4.4
colorlog==6.4.1
conllu==4.1
coverage @ file:///tmp/build/80754af9/coverage_1614614864940/work
cryptography @ file:///tmp/build/80754af9/cryptography_1616769182610/work
cycler==0.10.0
cymem==2.0.5
Cython @ file:///tmp/build/80754af9/cython_1626249882473/work
en-core-sci-sm @ file:///mnt/scratch/lotrecks/en_core_sci_sm-0.4.0.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
filelock==3.0.12
ftfy==6.0.3
future==0.18.2
gensim==4.1.0
google-api-core @ file:///C:/ci/google-api-core-split_1613980333946/work
google-auth @ file:///tmp/build/80754af9/google-auth_1626320605116/work
google-cloud-core @ file:///tmp/build/80754af9/google-cloud-core_1625077425256/work
google-cloud-storage @ file:///tmp/build/80754af9/google-cloud-storage_1626308236607/work
google-crc32c @ file:///tmp/build/80754af9/google-crc32c_1612242929593/work
google-resumable-media @ file:///tmp/build/80754af9/google-resumable-media_1624367812531/work
googleapis-common-protos @ file:///tmp/build/80754af9/googleapis-common-protos-feedstock_1617957646608/work
greenlet==1.1.1
grpcio @ file:///tmp/build/80754af9/grpcio_1614883945333/work
h5py==3.4.0
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
importlib-metadata==4.8.1
importlib-resources==5.2.2
iniconfig==1.1.1
Jinja2==3.0.1
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib==1.0.1
jsonnet==0.17.0
jsonpickle==2.0.0
kiwisolver==1.3.2
lxml==4.6.3
Mako==1.1.5
MarkupSafe==2.0.1
matplotlib==3.4.3
mkl-fft==1.3.0
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
multidict @ file:///tmp/build/80754af9/multidict_1607367738239/work
murmurhash==1.0.5
nltk==3.6.2
nmslib==2.1.1
numpy==1.21.2
optuna==2.9.1
overrides==3.1.0
packaging==21.0
pandas==0.25.2
pathy==0.6.0
pbr==5.6.0
Pillow==8.3.2
plac==1.1.3
pluggy==0.13.1
preshed==3.0.5
prettytable==2.2.0
protobuf==3.17.3
psutil==5.8.0
py==1.10.0
py-rouge==1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydantic==1.8.2
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyperclip==1.8.2
pysbd==0.3.4
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
pytest==6.2.4
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-Levenshtein==0.12.2
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyYAML==5.4.1
regex==2021.8.28
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
s3transfer @ file:///tmp/build/80754af9/s3transfer_1626435152308/work
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.1
scispacy==0.4.0
sentencepiece==0.1.96
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.2.1
soupsieve==2.2.1
spacy==3.0.7
spacy-legacy==3.0.8
SQLAlchemy==1.4.23
srsly==2.4.1
stevedore==3.4.0
tabulate==0.8.9
tensorboardX==2.4
thinc==8.0.8
threadpoolctl==2.2.0
tokenizers==0.8.1rc1
toml==0.10.2
torch==1.6.0
tqdm==4.62.2
transformers==3.0.2
typer==0.3.2
typing-extensions==3.10.0.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
wasabi==0.8.2
wcwidth==0.2.5
word2number==1.1
yarl @ file:///tmp/build/80754af9/yarl_1598045053219/work
zipp==3.5.0
